.card{
  width: 600px;
padding-top: 16px;
}

.card__title{
  margin-bottom: 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 32px 0px;
}

.card__list{
  font-family: "Noto Serif","Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.card__list-item{
 display: flex;
 flex-direction: row;
 list-style: none;
 margin-top: 16px;

}

.card__list-item:first-child{
margin-top: 0px;
}


.card__list-divider{
  border-bottom: 2px solid white;
  flex-grow: 2;

}