.form {
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 385px;
}

.form__fieldset {
  flex-direction:  column;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  max-width: 385px;
  margin: 32px 0px 0px 0px;
  border-style: none;
}

.form__input{
  height: 60px;
  margin-top: 0px;
  margin-bottom: 32px;
  border-radius: 4px;
  border-color: #838383;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  color: #838383;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.form__input::placeholder{
  font-family: "Inter", "Arial", san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input [type="text"]
.form__input [type="email"]
.form__input [type="datetime-local"]
.form__input [type="number"]
.form__input_type_select {
  min-width: 385px;
  height: 60px;

}

.form__label{
    display: flex;
    margin-bottom: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;

    flex-direction: row;
    justify-content: left;
    text-align:left;
    align-items: flex-start;
    width: 385px;

}
.form__label_type_checkbox{
  justify-content: center;
  flex-direction: row;
  padding: 0;
  gap: 12px;
}

.form__button{
  border-style: none;
  text-align: center;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  border-width: 0px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s ease-in 0s;
}

  .form__button:hover{
    opacity: 70%;

}
  .form__checkbox{
    height: 20px;
    width:20px;
    border-radius: 4px;
  }


